In [1]:
import sqlite3
import pandas as pd

# Connect to your anime.db
conn = sqlite3.connect("data/anime.db")

In [2]:
# Show all tables
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'", conn)
print("üìã Tables in database:")
print(tables)

# Preview top rows
df = pd.read_sql("SELECT * FROM anime LIMIT 5", conn)
df

üìã Tables in database:
    name
0  anime

,score,popularity,rank,members,description,synonyms,japanese,english,type,episodes,...,premiered,broadcast,producers,licensors,studios,source,genres,demographic,duration,rating
0,9.38,284,1,710,During their decade-long quest to defeat the D...,Frieren at the Funeral,Ëë¨ÈÄÅ„ÅÆ„Éï„É™„Éº„É¨„É≥,Frieren: Beyond Journey's End,TV,28,...,Fall 2023,Fridays at 23:00 (JST),"Aniplex, Dentsu, Shogakukan-Shueisha Productio...","None found, add some",Madhouse,Manga,"AdventureAdventure, DramaDrama, FantasyFantasy",ShounenShounen,24 min. per ep.,PG-13 - Teens 13 or older
1,9.09,3,2,3,After a horrific alchemy experiment goes wrong...,"Hagane no Renkinjutsushi: Fullmetal Alchemist,...",Èãº„ÅÆÈå¨ÈáëË°ìÂ∏´ FULLMETAL ALCHEMIST,Fullmetal Alchemist: Brotherhood,TV,64,...,Spring 2009,Sundays at 17:00 (JST),"Aniplex, Square Enix, Mainichi Broadcasting Sy...","Funimation, Aniplex of America",Bones,Manga,"ActionAction, AdventureAdventure, DramaDrama, ...",ShounenShounen,24 min. per ep.,R - 17+ (violence & profanity)
2,9.07,13,3,2,Eccentric scientist Rintarou Okabe has a never...,None,STEINS;GATE,Steins;Gate,TV,24,...,Spring 2011,Wednesdays at 02:05 (JST),"Frontier Works, Media Factory, Kadokawa Shoten...",Funimation,White Fox,Visual novel,"DramaDrama, Sci-FiSci-Fi, SuspenseSuspense",None,24 min. per ep.,PG-13 - Teens 13 or older
3,9.06,342,4,630,"Gintoki, Shinpachi, and Kagura return as the f...",Gintama' (2015),ÈäÄÈ≠Ç¬∞,Gintama Season 4,TV,51,...,Spring 2015,Wednesdays at 18:00 (JST),"TV Tokyo, Aniplex, Dentsu","Funimation, Crunchyroll",Bandai Namco Pictures,Manga,"ActionAction, ComedyComedy, Sci-FiSci-Fi",ShounenShounen,24 min. per ep.,PG-13 - Teens 13 or older
4,9.05,21,5,2,Seeking to restore humanity's diminishing hope...,None,ÈÄ≤ÊíÉ„ÅÆÂ∑®‰∫∫ Season3 Part.2,Attack on Titan Season 3 Part 2,TV,10,...,Spring 2019,Mondays at 00:10 (JST),"Production I.G, Dentsu, Mainichi Broadcasting ...",Funimation,Wit Studio,Manga,"ActionAction, DramaDrama, SuspenseSuspense",ShounenShounen,23 min. per ep.,R - 17+ (violence & profanity)

In [3]:
top_anime = pd.read_sql("""
SELECT title, score, rating
FROM anime
ORDER BY score DESC
LIMIT 10
""", conn)
top_anime

DatabaseError: Execution failed on sql '
SELECT title, score, rating
FROM anime
ORDER BY score DESC
LIMIT 10
': no such column: title

In [4]:
pd.read_sql("PRAGMA table_info(anime)", conn)

    cid         name     type  notnull dflt_value  pk
0     0        score     REAL        0       None   0
1     1   popularity  INTEGER        0       None   0
2     2         rank  INTEGER        0       None   0
3     3      members  INTEGER        0       None   0
4     4  description     TEXT        0       None   0
5     5     synonyms     TEXT        0       None   0
6     6     japanese     TEXT        0       None   0
7     7      english     TEXT        0       None   0
8     8         type     TEXT        0       None   0
9     9     episodes     TEXT        0       None   0
10   10       status     TEXT        0       None   0
11   11        aired     TEXT        0       None   0
12   12    premiered     TEXT        0       None   0
13   13    broadcast     TEXT        0       None   0
14   14    producers     TEXT        0       None   0
15   15    licensors     TEXT        0       None   0
16   16      studios     TEXT        0       None   0
17   17       source     TEXT        0       None   0
18   18       genres     TEXT        0       None   0
19   19  demographic     TEXT        0       None   0
20   20     duration     TEXT        0       None   0
21   21       rating     TEXT        0       None   0

In [5]:
top_anime = pd.read_sql("""
SELECT name, score, rating
FROM anime
ORDER BY score DESC
LIMIT 10
""", conn)
top_anime

DatabaseError: Execution failed on sql '
SELECT name, score, rating
FROM anime
ORDER BY score DESC
LIMIT 10
': no such column: name

In [6]:
pd.read_sql("PRAGMA table_info(anime)", conn)

    cid         name     type  notnull dflt_value  pk
0     0        score     REAL        0       None   0
1     1   popularity  INTEGER        0       None   0
2     2         rank  INTEGER        0       None   0
3     3      members  INTEGER        0       None   0
4     4  description     TEXT        0       None   0
5     5     synonyms     TEXT        0       None   0
6     6     japanese     TEXT        0       None   0
7     7      english     TEXT        0       None   0
8     8         type     TEXT        0       None   0
9     9     episodes     TEXT        0       None   0
10   10       status     TEXT        0       None   0
11   11        aired     TEXT        0       None   0
12   12    premiered     TEXT        0       None   0
13   13    broadcast     TEXT        0       None   0
14   14    producers     TEXT        0       None   0
15   15    licensors     TEXT        0       None   0
16   16      studios     TEXT        0       None   0
17   17       source     TEXT        0       None   0
18   18       genres     TEXT        0       None   0
19   19  demographic     TEXT        0       None   0
20   20     duration     TEXT        0       None   0
21   21       rating     TEXT        0       None   0

In [7]:
top_anime = pd.read_sql("""
SELECT name, score, rating
FROM anime
ORDER BY score DESC
LIMIT 10
""", conn)

top_anime

DatabaseError: Execution failed on sql '
SELECT name, score, rating
FROM anime
ORDER BY score DESC
LIMIT 10
': no such column: name

In [8]:
pd.read_sql("SELECT * FROM anime LIMIT 1", conn)

,score,popularity,rank,members,description,synonyms,japanese,english,type,episodes,...,premiered,broadcast,producers,licensors,studios,source,genres,demographic,duration,rating
0,9.38,284,1,710,During their decade-long quest to defeat the D...,Frieren at the Funeral,Ëë¨ÈÄÅ„ÅÆ„Éï„É™„Éº„É¨„É≥,Frieren: Beyond Journey's End,TV,28,...,Fall 2023,Fridays at 23:00 (JST),"Aniplex, Dentsu, Shogakukan-Shueisha Productio...","None found, add some",Madhouse,Manga,"AdventureAdventure, DramaDrama, FantasyFantasy",ShounenShounen,24 min. per ep.,PG-13 - Teens 13 or older